name: Terraform Cloud Run

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Terraform
      run: |
        curl -fsSL https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip -o terraform.zip
        unzip terraform.zip
        sudo mv terraform /usr/local/bin/
        terraform --version

    - name: Terraform Init & Apply
      env:
        TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
      run: |
        terraform init
        terraform apply -auto-approve
